@model PinkForum.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-4" style="text-align: center;">Leave A Comment!</h1>

<div class="row" style="justify-content: center;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.DiscussionId" name="DiscussionId" />

            <div class="form-group mb-3">
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            @* Removed create date and discussion id inputs*@

            @* <div class="form-group"> *@
            @*     <label asp-for="CreateDate" class="control-label"></label> *@
            @*     <input asp-for="CreateDate" class="form-control" /> *@
            @*     <span asp-validation-for="CreateDate" class="text-danger"></span> *@
            @* </div> *@

            @* <div class="form-group"> *@
            @*     <label asp-for="DiscussionId" class="control-label"></label> *@
            @*     <select asp-for="DiscussionId" class ="form-control" asp-items="ViewBag.DiscussionId"></select> *@
            @* </div> *@

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <button class="btn btn-primary">
                <a asp-action="DiscussionDetails" asp-controller="Home" asp-route-id="@ViewBag.DiscussionId" style="color: white; text-decoration: none;">Back to Discussion</a>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
